#api keys
.env
.env.*
__pycache__
.venv
.vscode
.idea
#tout le dossier models
models/

*.onnx
*.bin
__pycache__/
.venv/
# WhatsApp Bridge
.wwebjs_cache/
services/whatsapp_bridge/node_modules/
services/whatsapp_bridge/session/